/* input{
  border: 2px solid transparent;
  box-shadow:#03f003 0px 0px 10px;
  font-size:large;
  outline: none;
  padding:10px;
  margin: 20px;
  border-radius: 10px;
}
input:focus{
  text-decoration: none;
}
input :focus-within{
  border: 2px solid aqua;
}
.task1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  width: auto;
  padding: 20px 30px;
  margin: 10px;
  border: 2px solid rgb(16, 15, 15);
  box-shadow: 0px 0px 10px rgb(244, 42, 112);
  font-size: large;
  border-radius: 200px;
  cursor: pointer;
}
button:active{
  color: #ff4507;
  background-color: antiquewhite;
}
th,td{
  text-align: center;

}
td{
  color: #ff4507;
  font-weight: bold;
} */